@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');
h1{
    font-family: 'Be Vietnam Pro', sans-serif;
}
body{
    background-color: #001f3f;
    margin:0;
    padding:0;
    color:azure;
}

#main-div{
    width: 320px;
    height: 500px;
    top:40%;
    left:50%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 70px 30px;
    /* border: 9px solid black;
    border-color: azure; */
    border-radius: 10%;
    position:absolute;
    transform: translate(-50%,-50%);
}

button{
    border-radius:10px;
    background-color: yellowgreen;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
}
h3{
    font-size:13px;
}